/*Nav Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #A69F9B;
}

/* Intro */
#firstHeading {
    text-align: center;
}

.container#introImg {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:750px;
}

#centerButton {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 250px;
}